@media only screen and (max-width: 320px){

#slideshow {
	left: 3%;
	top: 20%;
	position: fixed;
}
}

@media only screen and (min-width:321px) and (max-width: 600px){

#slideshow {
	top: 20%;
	left: 10%;
	width: 300px;
	height: 100%;
	position: absolute;

}
}

@media only screen and (min-width: 601px){

#slideshow {
	width: 50%
	height: 100%;
	left: 40%;
	top: 20%;
	position: fixed;
}
}



p {
	text-align: center;
	margin: 20px;
	display: inline;
	background-color: none;
	font-size: 1em;
	color: green;
}

p:hover {
	opacity: 0.5;
}

.slider {
  overflow: hidden;
  position: fixed;

}

.sliderImage {
  list-style: none;
  float: left;
  position: relative;
  transition: 0.5s ease;
}

.imageList {
  position: absolute;
  left: 0;
  transition: 2s ease;

}

img {
  width: 300px;
}

.firstPosition {
  left: 0;
  position: absolute;
  z-index: 1;

}

.secondPosition {
	left: -300px;
	position: absolute;
}

.thirdPosition {
	left: 0px;
	bottom: 600px;
	position: absolute;
}

.fourthPosition {
	left: 300px;
	position: absolute;
}